<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ .Title }} </title>
    <meta name="author" content="Anas Elgarhy">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A searchable Linux system call table for the x86-64 architecture, with arguments and links to manual and implementation.">

    <link rel="canonical" href="https://thatsillyman.win/linux/syscall-table/">
    <link href="screen.css" media="screen, projection" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">

    <style>
        #content {
            width: 900px;
            margin: 0 auto;
        }
        body>header {
            text-align: center;
        }
        header {
            margin: 0 auto;
            padding: 0;
        }
        header div {
            max-width: 350px;
            padding: 0 10px;
            margin: 0 auto;
        }
        header img {
            max-width: 100%;
        }
        .tbls-filter {
            text-align: right;
        }
        .tbls-filter input {
            height: 26px;
            width: 200px;
            font-size: 0.9em;
            vertical-align: bottom;
        }
        .tbls-table {
            font-family: PT Sans, Helvetica Neue, Arial, sans-serif;
            width: 100%;
        }
        .tbls-row {
            display: grid;
            grid-template-columns: 18% 22% 26% 34%;
            padding: 3px 10px;
            align-items: center;
        }
        .tbls-header {
            border: 1px solid #aaa;
            font-weight: bold;
            padding-left: 25px;
        }
        .tbls-entry {
            border-bottom: 1px solid #aaa;
        }
        .tbls-entry summary {
            cursor: pointer;
            padding: 3px 0;
        }
        .tbls-entry summary .tbls-row {
            display: inline-grid;
            width: calc(100% - 25px);
            padding: 0 10px;
            vertical-align: middle;
        }
        .tbls-entry[open] summary {
            border-bottom: 1px solid #aaa;
        }
        .tbls-arguments {
            padding: 10px;
        }
        .tbls-arguments table {
            width: 100%;
            border: 1px solid #aaa;
            margin: 0;
            border-collapse: collapse;
        }
        .tbls-arguments table td {
            border-right: 1px solid #aaa;
            border-left: 1px solid #aaa;
            padding: 3px 10px;
        }
        .tbls-match {
            font-weight: bold;
        }
    </style>
</head>

<body>
    <script src="./fuzzy.js"></script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            const filterInput = document.querySelector('.tbls-filter input');
            const entries = Array.from(document.querySelectorAll('.tbls-entry'));

            if(filterInput) {
                filterInput.addEventListener('input', function (e) {
                    const query = e.target.value;

                    entries.forEach(entry => entry.removeAttribute('open'));

                    if (!query) {
                        entries.forEach(entry => {
                            entry.style.display = '';
                            const nameDiv = entry.querySelector('.syscall-name');
                            nameDiv.innerHTML = nameDiv.textContent;
                        });
                        return;
                    }

                    const results = fuzzy.filter(query, entries, {
                        pre: '<span class="tbls-match">', 
                        post: '</span>', 
                        extract: function (el) {
                            return el.querySelector('.syscall-name').textContent;
                        }
                    });

                    entries.forEach(entry => entry.style.display = 'none');

                    results.forEach(result => {
                        const entry = result.original;
                        entry.style.display = '';
                        entry.querySelector('.syscall-name').innerHTML = result.string;
                    });
                });
            }
        });
    </script>

    <div id="main">
        <div id="content">
            <div>
                <article role="article">
                    <h1 class="entry-title">Searchable Linux Syscall Table</h1>

                    <p>This table is derived from the <a href="https://github.com/torvalds/linux/blob/v{{ .Version }}/arch/x86/entry/syscalls/syscall_64.tbl"><code>syscall_64.tbl</code> file</a> in the <strong>Linux {{ .Version }} kernel</strong> source, and the <a href="https://github.com/torvalds/linux/blob/v{{ .Version }}/include/linux/syscalls.h"><code>syscalls.h</code> header file</a>. The generator is available <a href="https://github.com/0x61nas/0x61nas.github.io/linux/syscall-table">on GitHub</a>.</p>

                    <p>Syscalls are implemented in functions named as in the <em>Entry point</em> column, generated with <code>DEFINE_SYSCALLx</code> macros. For more information, see <a href="https://www.kernel.org/doc/html/latest/process/adding-syscalls.html">Documentation/process/adding-syscalls.rst</a>.</p>

                    <p>To learn more, read the <a href="https://manpages.debian.org/unstable/manpages-dev/syscall.2.en.html"><code>syscall(2)</code></a> and <a href="https://manpages.debian.org/unstable/manpages-dev/syscalls.2.en.html"><code>syscalls(2)</code></a> man pages.</p>

                    <p><strong>Click on a row</strong> to reveal the arguments list. Search using the fuzzy filter box.</p>

                    <p class="tbls-filter">Filter: <input type="text"></p>

                    <p>The <strong>return value</strong> is placed in <code>%rax</code>.</p>

                    <div class="tbls-table">
                        <div class="tbls-row tbls-header">
                            <div>%rax</div>
                            <div>Name</div>
                            <div>Manual</div>
                            <div>Entry point</div>
                        </div>

                        {{ $r := .Registers }}
                        {{ range .Syscalls }}

                        <details class="tbls-entry">
                            <summary>
                                <div class="tbls-row">
                                    <div>{{ .Number }}</div>
                                    <div class="syscall-name">{{ .Name }}</div>
                                    <div><a href="https://manpages.debian.org/unstable/manpages-dev/{{ .Name }}.2.en.html" target="_blank">{{ .Name }}(2)</a>, <a href="https://man7.org/linux/man-pages/man2/{{ .Name }}.2.html" target="_blank">{{ .Name }}(2)</a></div>
                                    <div>{{ if .Implemented }}<a href="https://github.com/search?q=repo%3Atorvalds%2Flinux+%2FSYSCALL_DEFINE%5B%5E%2C%5D*%5Cb{{ .Entrypoint }}%5Cb%2F&type=code" target="_blank">sys_{{ .Entrypoint }}</a>{{ end }}</div>
                                </div>
                            </summary>

                            <div class="tbls-arguments">
                            {{ if .Implemented }}
                            {{ if .Args }}
                                <table>
                                    <tbody>
                                        <tr>
                                            {{ range $i, $_ := .Args }}
                                            <td>%{{ index $r $i }}</td>
                                            {{ end }}
                                        </tr>
                                        <tr>
                                            {{ range .Args }}
                                            <td>{{ . }}</td>
                                            {{ end }}
                                        </tr>
                                    </tbody>
                                </table>
                            {{ else }}
                                <p>No arguments</p>
                            {{ end }}
                            {{ else }}
                                <p>Not implemented</p>
                            {{ end }}
                            </div>
                        </details>

                        {{ end }}
                    </div>
                </article>
            </div>
        </div>
    </div>

</body>
</html>
